<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Combat Fake Information</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!-- Navigation Bar -->
    <nav class = "navbar">
      <div class="nav-brand">
        <a href="/">Combat Fake Info</a>
    </div>
    <ul class="nav-links">
        <li><a href="/factchecking"><i class="factchecking"></i> Fact Checking</a></li>
        <li><a href="/education"><i class="education"></i> Education</a></li>
        <li><a href="/game"><i class="game"></i> Game</a></li>
    </ul> 
    </nav>

    <!-- Hero Section -->
    <header class="hero">
    <h1>Game Section</h1>
    <p class="info">Test your skills in identifying fake news through interactive games and quizzes.</p>
    </header>
  </body>

  <footer>
    <div class="footer-content">
        <p>© 2024 Combat Fake Info. All rights reserved.</p>
    </div>
  </footer>
  
</html>

