<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Combat Fake Information</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!-- Navigation Bar -->
    <nav class = "navbar">
      <div class="nav-brand">
        <a href="/">Combat Fake Info</a>
    </div>
    <ul class="nav-links">
        <li><a href="/factchecking"><i class="factchecking"></i> Fact Checking</a></li>
        <li><a href="/education"><i class="education"></i> Education</a></li>
        <li><a href="/game"><i class="game"></i> Game</a></li>
    </ul> 
    </nav>

    <!-- Hero Section -->
    <header class="hero">
    <h1>Fight Misinformation</h1>
    <p class="info">The trusted platform for verifying information and learning skills</p>
    <a href="/factchecking" class="fc-button">Start Fact Checking!</a>
    </header>

    <!--* Info Boxes Section *-->
<section class="info-boxes">
  <div class="box">
    <h2>Fact Checking</h2>
    <p>Explore powerful tools to verify information and identify misinformation.</p>
    <a href="/factchecking" class="box-link">Start Checking</a>
  </div>
  <div class="box">
    <h2>Education</h2>
    <p>Learn essential skills to recognise and combat misinformation with our comprehensive guides.</p>
    <a href="/education" class="box-link">Start Learning</a>
  </div>
  <div class="box">
    <h2>Game</h2>
    <p>Test and improve your fact-checking skills through engaging games and challenges.</p>
    <a href="/game" class="box-link">Start Playing</a>
  </div>
</section>

<!-- Why We Combat Misinformation Section -->
<section class="why-combat">
  <h2>
    <img src="/images/publicity.png" alt="Icon" class="icon" />
    Why Combat Misinformation?
  </h2>
  <p>
    In today's digital age, misinformation spreads rapidly, impacting our society and decision-making processes. 
    This website was created to empower users with the tools and knowledge necessary to identify and combat false information.
  </p>
  <h3>Benefits of Combating Misinformation:</h3>
  <ul>
   <li>Enhances critical thinking skills.</li>    
   <li>Promotes informed decision-making.</li>
   <li>Protects individuals from scams and fraud.</li>
   <li>Encourages accountability in information sharing.</li>
  </ul>
</section>

<footer>
  <div class="footer-content">
      <p>© 2024 Combat Fake Info. All rights reserved.</p>
  </div>
</footer>

  </body>
</html>
